HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/corona-community/node_modules
frontend/corona-community//.pnp
frontend/corona-community/.pnp.js

# testing
frontend/corona-community//coverage

# production
frontend/corona-community//build

# misc
frontend/corona-community/.DS_Store
frontend/corona-community/.env.local
frontend/corona-community/.env.development.local
frontend/corona-community/.env.test.local
frontend/corona-community/.env.production.local

frontend/corona-community/npm-debug.log*
frontend/corona-community/yarn-debug.log*
frontend/corona-community/yarn-error.log*

frontend/corona-community/.env

